* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: cursive;
}

.hero {
    width: 100%;
    min-height: 100vh;
    

}

nav {
    display: flex;
    align-items: center;
    padding: 15px 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    background:  rgb(2, 170, 148);
}

.logo {
    width: 150px;
}

nav ul {
    flex: 1;
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 15px;
}

a {
    text-decoration: none;
    color:black;
}

nav a:hover {
    color: black;
}

.navside{
    display: flex;
    align-items: center;
    top: 0;
    width: 100%;
    padding: px 0;
    background: linear-gradient(0deg, white, rgb(2,167,145));
}

.navside ul {
    flex: 1;
    align-items:right;
}

.navside ul  li{
    display: inline-block;
    list-style: none;
    margin: 0px 12px;
}

.navside ul li a {
    align-items: right;
}

.main-content{
    width: 100%;
    padding: 30px 30px;
}

.footer{
    width: 100%;
    height: 50px;
    background: lightblue;
}

.footer h1{
    text-align: center;
}